.comeBtn {
    font-size: large;
    background-color: #bcf97b;
    margin: 10px 10px 0 0;
}
.outBtn {
    font-size: large;
    background-color: rgb(121, 121, 248);
    margin: 10px 10px 0 0;
}
.Btn {
    display: flex;
    justify-content: center;
}
.nameBar {
    text-align: center;
    box-sizing: border-box;
}
.centering {
    text-align: center;
}
.nameBar {
    max-width: 100%;
    width: 12em;
    background: #f2f2f2;
    border: 0.5px solid #999;
    line-height: 2;
    font-size: 1em;
}
.nameBar:focus {
    outline: none;
    border: 2px solid #5e5d5d;
}
.checkBtn {
  margin-left: 10px;
  height: 2.75em;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
}
.checkBtn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#f1e767), to(#feb645));
  background: -webkit-linear-gradient(bottom, #f1e767 0%, #feb645 100%);
  background: linear-gradient(to top, #f1e767 0%, #feb645 100%);
}
h1 {
  margin-bottom: 10px
}

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #616e71;
  text-shadow: 0 0 10px #0aafe6c4;
  line-height: 1.1;
  text-align: center;
  margin-top: none;
}
.clock-date {
  font-size: 25px;
}
.clock-time {
  font-size: 8vw;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 560px) {
  .clock-date {
    font-size: 5vw;
  }
  .clock-time {
    font-size: 10vw;
    margin-top: "2%";
  }
}